
<router-outlet></router-outlet>


<br><br><br>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Please choose an option</h4>
            </div>
            <div class="panel-body" >
                <form style="background-color:rgb(186, 229, 236)" role="form" class="col-sm-5">
                    <br>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" (click)="viewSmeQueizzs()">View Your Quizzes</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" (click)="smeAddQueiz()">Create New Quiz</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" (click)="smeUpdateQueiz()">Update Quiz</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" (click)="smeDeleteQueiz()">Delete Quiz</button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block" (click)="signOut()">Sign Out</button>
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
